.footer{
    list-style-type: none;
    
    /* margin-left: 0px;
    margin-bottom: -40px;
    margin-right: 200px; */
    font-weight: 600;
    margin-bottom: -10px;
    font-style: inherit;
    padding: 5px;
    
    
    border-top: 1px solid grey;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color:	#D3D3D3;
    position: relative;
    
    
}
.a{
    position: absolute;
    bottom: 0;
}
.uppf{
    margin-left: 8px;
    
}

.buyf{
    margin-left: 32px;
    
    color: black;
}

.SELLf{
    margin-left: 40px;
    color:black;
}

