.stats {
    flex: 0.2;
    border-right: 1px solid grey;
    background-color:white;
    height: 600px;
    width: 80px;
    
  }

  .header__search {
    display: flex;
    align-items: center;
    background-color:white;
    height: 39px;
    padding: 10px;
  }
  .buttonji{
    background-color: rgb(223, 223, 230);
    margin-top: 385px;
    padding: 10px 105px;
    border:1px solid gray;
    color: gray;

    
  }
  
  .header__searchContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    border:none;
    padding: 5px;
    border-radius: 4px;
  }

  .header__search{
    border-bottom: 0.5px solid grey;
  }
  
  .header__searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
  }
  
  .header__searchContainer > input {
    border: none;
    width: 375px;
    margin-left: 5px;
    margin-right: 10px;
    background-color:white;
    color: black;
  }
  
  .header__searchContainer > input:focus {
    outline: none;
  }
  
  .button ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    border-bottom: 0.5px solid grey;
    font-weight: 600;
    font-style: inherit;   
    display: flex;
    flex-direction: column;
    cursor: pointer;


  }
.bs ul{
  list-style-type: none;
    margin-right: 0px;
    padding: 0.5em;
    font-weight: 600;
    font-style: inherit;   
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.buttonUp{
  
  flex-direction: row;
}
.stats__container {
  flex-direction: column;
  flex: 1;
  background-color: #1E2023;
  border-radius: 5px;
  border: 1px solid #42494D;
}

.stats__content {
  font-size: 13px;
}

.stats__header {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #42494D;
  padding: 20px 20px 10px 20px;
  font-weight: 500;
}

.stats-lists {
  height: 52px;
  border-top: 1px solid #42494D;
  padding: 4px 20px 0px 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 24px;
  align-items: center;
  cursor: pointer;
}

.row:hover {
  background-color: #31363A;
}

.row__intro > h1 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
}

.row__intro > p {
  font-size: 12px;
}

.row__numbers {
  text-align: end;
  font-weight: 500;
}

.row__price {
  padding-bottom: 4px;
}

.row__percentage {
  color: #5AC53B;
}